# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
env/
venv/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs/editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
